<div class="container mt-4">
    <table  class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Capacite</th>
              <th scope="col">Localisation</th>
            </tr>
          </thead>
          <tbody *ngFor="let avion of avions">
            <tr>
              <td>{{avion.nomAvion}}</td>
              <td>{{avion.capacite}}</td>
              <td>{{avion.localisation}}</td>
            </tr>
            <tr>
          </tbody>
      </table>
   
  